<template>
  <div class="container__wrapper">
    <div class="container__head">
      <div class="container__header--title">Сделки</div>
      <div class="container__header--search">
        <input
          class="container__header--search-field"
          type="search"
          name=""
          id="query_search"
          v-model.lazy="queryValue"
        />
      </div>
    </div>
    <hr size="1" />
    <div class="leads__titles--wrapper">
      <div class="leads__titles">
        <div class="leads__titles--item">Название</div>
        <div class="leads__titles--item">Статус</div>
        <div class="leads__titles--item">Ответственный</div>
        <div class="leads__titles--item">Дата</div>
        <div class="leads__titles--item">Цена</div>
      </div>
    </div>
    <hr size="1" />
    <div class="spinner" v-if="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-if="!isLoading && leads_list.length">
      <div v-for="(lead, idx) in leads_list" :key="idx">
        <LeadsList :lead="lead" />
      </div>
    </div>
    <div v-if="!isLoading && !leads_list.length">Ничего не найдено</div>
  </div>
</template>
<script>
import { computed, onMounted, ref, watch } from "vue";
import { fetchingUrl } from "@/utils/fetching/index.js";
import LeadsList from "@/components/UI/LeadsList";
export default {
  components: { LeadsList },
  setup() {
    const isLoading = ref(true);
    const leads = ref([]);
    onMounted(async () => {
      const response = await fetchingUrl("https://discdev.ru/kapayji");
      // const response = await fetchingUrl("http://localhost:5000/api/leads");
      leads.value = response;
      isLoading.value = false;
    });
    const leads_list = computed(() => {
      // console.log(leads.value);
      return leads.value;
    });
    const queryValue = ref("");
    watch(
      () => queryValue.value,
      async (nextValue, prevValue) => {
        isLoading.value = true;
        const response = await fetchingUrl(
          "https://discdev.ru/kapayji/" + nextValue
        );
        // const response = await fetchingUrl(
        //   "http://localhost:5000/api/leads/" + nextValue
        // );
        leads.value = response;
        isLoading.value = false;
      }
    );
    return { isLoading, leads_list, queryValue };
  },
};
</script>
