<template>
  <div>
    <div v-if="contacts.length">
      <div v-for="(contact, idx) in contacts" :key="idx">
        <div class="contact__info">
          <div class="contact__info--name">{{ contact.contact_info }}</div>
          <div v-if="contact.custom_fields == undefined">
            Почта и телефон не указаны указаны
          </div>
          <div v-for="(field, idx) in contact.custom_fields" :key="idx">
            <div class="contact__info--fields">
              <div v-for="(value, idx) in field.field_value" :key="idx">
                <div class="contact__info--fields--value">
                  <div v-if="field.field_code == 'PHONE'">
                    <a :href="'tel:' + field.field_value[idx].value"
                      ><img
                        :src="require(`@/assets/img/phone.svg`)"
                        alt="phone"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                  <div v-if="field.field_code == 'EMAIL'">
                    <a :href="'mailto:' + field.field_value[idx].value"
                      ><img
                        :src="require(`@/assets/img/email.svg`)"
                        alt="email"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="contact__info">
      <div class="contact__info--name">Нет контакта</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    contacts: {
      type: Array,
    },
  },
  setup() {},
};
</script>
