<template>
  <div class="lead__detail--wrapper">
    <div class="lead__detail">
      <div class="lead__detail--item">
        <div class="lead__title">
          <span
            class="lead__detail--item-expander"
            :class="{ isExpand: isContactExpand }"
            @click="contentExpand"
          ></span
          >{{ lead.name }}
        </div>
      </div>
      <div class="lead__detail--item">
        <div
          class="lead__status"
          :style="{ 'background-color': lead.status.color }"
        >
          {{ lead.status.name }}
        </div>
      </div>
      <div class="lead__detail--item">{{ lead.user.name }}</div>
      <div class="lead__detail--item">{{ lead.date }}</div>
      <div class="lead__detail--item">{{ lead.price }} &#8381;</div>
    </div>
    <div
      class="contact-info-hidden"
      :class="{ isContactsVisible: isContactExpand }"
    >
      <Contacts :contacts="lead.contacts" />
    </div>
  </div>
</template>
<script>
import { ref } from "@vue/reactivity";
import Contacts from "@/components/UI/Contacts";
export default {
  components: { Contacts },
  props: {
    lead: {
      type: Object,
    },
  },
  setup() {
    const isContactExpand = ref(false);
    const contentExpand = () => {
      isContactExpand.value = !isContactExpand.value;
    };
    return {
      isContactExpand,
      contentExpand,
    };
  },
};
</script>
